.container{
  margin: 3% 0%;
  height: max-content;
}
.insideContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between  ;
}

.RestaurantChain{
  height: 30vh;
  width: 13vw;
  cursor: pointer;
}
.RestaurantChain img{
  height: 80%;
  width: 100%;
}
.RestaurantChain p{
  text-align: center;
  font-size: 0.8rem;
  color: white;
  background-color: #FC8A06;
  height: 25%;
  width: 100%;
  margin-top: -6px;
  font-weight: bold;
  padding-top: 10px;
}

@media screen and (max-width: 426px) {  
  .insideContainer {  
    flex-wrap: nowrap;  
    gap: 10px;  
    width: 100vw;  
  }  

  .RestaurantChain {  
    height: 20vh;  
    width: 30vw; /* Adjusted width for smaller screens */  
  }  

  .RestaurantChain img {  
    height: 80%;  
    width: 100%;  
  }  

  .RestaurantChain p {  
    text-align: center;  
    font-size: 0.8rem;  
    color: white;  
    background-color: #FC8A06;  
    height: 25%;  
    width: 100%;  
    margin-top: -6px;  
    font-weight: bold;  
    padding-top: 10px;  
  }  
}  